.profile__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 16px 0 0 0;
    text-overflow: ellipsis;
}

@media screen and (max-width: 910px) {
    .profile__subtitle {
        margin: 14px 0 0 0;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}
