.popup__content {
    max-width: 430px;
    min-width: 430px;
    min-height: 329px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    padding: 19px 36px;
}

@media screen and (max-width: 910px) {
    .popup__content {
        min-width: 281px;
        padding: 15px 22px 28px 22px;
        min-height: 323px;
    }
}
