.profile__add-button {
    width: 150px;
    height: 50px;
    border-radius: 2px;
    border: 2px solid #FFFFFF;
    transition: opacity .3s linear;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 910px) {
    .profile__add-button {
        width: 282px;
    }
}
