.card__title-text {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    color: #000000;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 210px;
}
